.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #0b525b;
  border-radius: 10px;
}
.custom-scrollbar1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #204b57;
}
/* Cacher les scrollbars */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;     /* Firefox */
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
/* Animation apparition messages */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-appear {
  animation: fadeInUp 0.3s ease forwards;
}
